<a href="https://colab.research.google.com/github/prips47/google_colabs_files/blob/master/kaggle_import_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#installing the dependecies 
!pip install kaggle

In [0]:
#upload kaggle.json file downloaded from kaggle my account setting create new api
from google.colab import files
files.upload()
# do it by command or by clicking in upload button

In [0]:
!mkdir -p ~/.kaggle/
!cp kaggle.json ~/.kaggle/

#change the permission
!chmod 600 ~/.kaggle/kaggle.json

In [0]:
#download kaggle dataset. put a exclamation mark in front of API link
!kaggle datasets download -d russellyates88/suicide-rates-overview-1985-to-2016

In [0]:
#to unzip the zip file ( python script)
from zipfile import ZipFile
file_name="suicide-rates-overview-1985-to-2016.zip"

#opening the zip file in read me mode 
with ZipFile(file_name,'r') as zip:
 print('Extracting the file now...')
 zip.extractall()
 print('Done')

Extracting the file now...
Done

In [0]:
!rm -rf suicide-rates-overview-1985-to-2016.zip

In [0]:
!ls

kaggle.json  master.csv  sample_data

In [0]:
#pandas is udes to read the database
import pandas as pd
db=pd.read_csv('master.csv')
db.head()

   country  year  ... gdp_per_capita ($)       generation
0  Albania  1987  ...                796     Generation X
1  Albania  1987  ...                796           Silent
2  Albania  1987  ...                796     Generation X
3  Albania  1987  ...                796  G.I. Generation
4  Albania  1987  ...                796          Boomers

[5 rows x 12 columns]